.h1-home {
    font-family: $fontTitle;
    color: $titleColor;
    font-size: $h1Size;
    font-weight: $fontWeightTitle;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.h2-home {
    font-family: $fontTitle;
    font-size: $h2Size;
    font-weight: $fontWeightTitle;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 4vh;
}
