{% extends 'admin/index.html.twig' %}

{% block title %}Modifier Tarif{% endblock %}

{% block body %}
    <h1>Modifier un Tarif</h1>

        {{ include('admin/tarif/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a class="btn btn-secondary mb-1" href="{{ path('admin_tarif_index') }}">Retour</a>

    {{ include('admin/tarif/_delete_form.html.twig') }}
{% endblock %}
