{% extends 'admin/index.html.twig' %}

{% block title %}Nouveau Tarif{% endblock %}

{% block body %}
    <h1>Créer nouveau Tarif</h1>

    {{ include('admin/tarif/_form.html.twig') }}

    <a class="btn btn-secondary mb-1" href="{{ path('admin_tarif_index') }}">Retour</a>
{% endblock %}
