{% extends 'layout_admin.html.twig' %}

{% block title %}wild-Circus - Admin{% endblock %}

{% block header %}
    {% include 'admin/navbarAdmin.html.twig' %}
{% endblock %}

{% block body %}
    <h1>Page Administration</h1>
{% endblock %}
