{% extends 'layout.html.twig' %}

{% block title %}Album Photos{% endblock %}

{% block body %}
    <section class="container">
        <h1>Album Photos</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Image</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for gallerie in galleries %}
                <tr>
                    <td>{{ gallerie.image }}
                        <img src="{{ asset( '/build/'~gallerie.image ) }}" class="card-img"
                             alt="Image d'un artiste">
                    </td>
                    <td>
                        <a class="btn btn-secondary mb-1"
                           href="{{ path('user_gallerie_show', {'id': gallerie.artiste } ) }}">Voir</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
