{% extends 'layout.html.twig' %}

{% block title %}Gallerie Photo{% endblock %}

{% block body %}
    <h1>Album Photo {{ gallerie.artiste }}</h1>

    <a class="btn btn-secondary mb-1" href="{{ path('gallerie_index') }}">Retour</a>

    <table class="table">
        <tbody>
        <tr>
            <th>Image</th>
            <td>{{ gallerie.image }}</td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary mb-1" href="{{ path('gallerie_index') }}">Retour</a>

{% endblock %}
