<section class="container">
    <footer>
        <section class="footer">

        <div class="row no-gutters">
            <div class="col-md-4">
                <p>Contacts</p>
                Clowny@wildcircus.com
            </div>
            <div class="col-md-4 card-text">
                <img alt="logo wild circus" src="{{ asset('build/Logo.png') }}">
            </div>
            <div class="col-md-4">
                <p>Rejoignez-nous</p
            </div>
        </div>
    </footer>
</section>
