{% extends 'admin/index.html.twig' %}

{% block title %}Modifier un Article{% endblock %}

{% block body %}
    <h1>Modifier un Article</h1>

    {{ include('admin/article/_form.html.twig', {'button_label': 'Enregister'}) }}

    <a class="btn btn-secondary mb-1" href="{{ path('admin_article_index') }}">Retour</a>

    {{ include('admin/article/_delete_form.html.twig') }}
{% endblock %}
