{% extends 'admin/index.html.twig' %}

{% block title %}Nouvel Article{% endblock %}

{% block body %}
    <h1>Créer un nouvel article</h1>

    {{ include('admin/article/_form.html.twig') }}

    <a class="btn btn-secondary mb-1" href="{{ path('admin_article_index') }}">Retour</a>
{% endblock %}
