{% extends 'admin/index.html.twig' %}

{% block title %}Gallerie{% endblock %}

{% block body %}
    <h1>Gallerie Photos</h1>

    <a class="btn btn-secondary mb-1" href="{{ path('admin_gallerie_new') }}">Ajouter une nouvelle photo</a>

    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gallerie in galleries %}
            <tr>
                <td> <img src="{{ asset( '/build/'~gallerie.image ) }}" class="card-img"
                          alt="Image d'un artiste"></td>
                <td>
                    <a class="btn btn-secondary mb-1" href="{{ path('admin_gallerie_show', {'id': gallerie.id}) }}">Voir</a>
                    <a class="btn btn-secondary mb-1" href="{{ path('admin_gallerie_edit', {'id': gallerie.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
