{% extends 'admin/index.html.twig' %}

{% block title %}Modifier un Artiste{% endblock %}

{% block body %}
    <h1>Modifier un Artiste</h1>

    {{ include('admin/artiste/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a class="btn btn-secondary mb-1" href="{{ path('admin_artiste_index') }}">Retour</a>

    {{ include('admin/artiste/_delete_form.html.twig') }}
{% endblock %}
