{% extends 'admin/index.html.twig' %}

{% block title %}Nouvel Artiste{% endblock %}

{% block body %}
    <h1>Créer nouvel Artiste</h1>

    {{ include('admin/artiste/_form.html.twig') }}

    <a class="btn btn-secondary mb-1" href="{{ path('admin_artiste_index') }}">Retour</a>
{% endblock %}
